:root {
    --white: #ffffff;
    --black: #000;
    --black-2: #333333;
    --grey: #7e7e7e;
    --green: #669933;
    --green-2: #58b000;
    --bright-orange: #d69900;
    --bright-green: #58b000;
    --bright-orange-2: #ae7e02;
    --dark-white: #f2f2f2;
    --transition-1: all 150ms ease-in-out;
    --transition-2: all 300ms ease-in-out;
    --transition-3: all 600ms ease-out;
    --border-rs-8: 8px;
    --border-rs-10: 0px 10px;
    --border-rs-50: 50%;
}
